


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: 
      linear-gradient(180deg, #121113 0%, rgba(18, 17, 19, 0.46) 49.48%, #121113 100%),
      url("../components/assets/backgropund.png"); 
}

