.search-container { 
    display: flex; // Usando flexbox para alinhar os elementos
    align-items: center; // Centraliza os itens verticalmente
    gap: 8px; // Espaço entre os elementos
}

.input-group { 
    display: flex; // Usando flexbox para alinhar os elementos internos
    align-items: center; // Centraliza os itens verticalmente
    background-color: #1A191B; // Cor de fundo do grupo de entrada
    padding: 8px 16px 8px 8px; // Espaçamento interno
    gap: 8px; // Espaço entre o ícone e o campo de entrada
    height: 56px; // Altura fixa
    width: 488px; // Largura padrão para desktop
    border: 1px solid transparent; /* Borda padrão transparente */
    border-radius: 4px; // Bordas arredondadas
    transition: border-color 0.3s; /* Transição suave para a borda ao interagir */

    &:hover,
    &:focus-within { /* Altera o estilo quando o grupo é focado ou está com o mouse em cima */
        border-color: #8E4EC6; /* Borda com a cor ao passar o mouse ou focar */
    }

    .input-icon {
        display: flex; // Usando flexbox para centralizar o ícone
        align-items: center; // Alinha verticalmente o ícone
        justify-content: center; // Alinha horizontalmente o ícone
        min-width: 32px; // Largura mínima do ícone
        min-height: 32px; // Altura mínima do ícone
        border-radius: 100%; // Bordas completamente arredondadas
        color: #fff; // Cor do ícone
        cursor: pointer; // Cursor pointer ao passar o mouse sobre o ícone
    }
    
    .input-field {
        width: 100%; // Largura total para preencher o espaço disponível
        border: none; // Remove a borda padrão
        background-color: transparent; // Fundo transparente
        color: #fff; // Cor do texto para visibilidade
    }
    
    .input-field:focus {
        outline: none; // Remove o contorno padrão do campo de entrada
    }   

    // Estilos para o placeholder
    & .input-field::placeholder {
        font-size: 16px; // Tamanho da fonte do placeholder
        color: rgba(255, 255, 255, 0.5); // Cor do placeholder (ajuste conforme necessário)
    } 
}

// Classe para o botão de filtro
.filter {
    background-color: #B744F714; // Cor de fundo do botão
    backdrop-filter: blur(4px); // Efeito de desfoque no fundo
    width: 56px; // Largura do botão
    height: 55px; // Altura do botão
    border: none; // Remove a borda padrão
    border-radius: 4px; // Bordas arredondadas
    display: flex; // Usando flexbox para centralizar o conteúdo
    align-items: center; // Alinha verticalmente o conteúdo do botão
    justify-content: center; // Alinha horizontalmente o conteúdo do botão
    cursor: pointer; // Cursor pointer ao passar o mouse
    transition: background-color 0.3s, transform 0.2s; // Transição suave para cor de fundo e efeito de transformação

    // Efeito de hover
    &:hover {
        background-color: rgba(183, 68, 79, 0.7); // Alterar a cor de fundo ao passar o mouse
        transform: scale(1.05); // Efeito de leve aumento ao passar o mouse
    }

    // Efeito de focus
    &:focus {
        outline: none; // Remove o contorno padrão
        box-shadow: 0 0 0 2px rgba(142, 78, 198, 0.5); // Sombra ao focar
    }

    img {
        width: 24px; // Ajusta o tamanho da imagem
        height: 24px; // Altura da imagem
    }
}

// Estilos para dispositivos menores
@media (max-width: 600px) {
    .input-group {
        width: 317px; // Largura reduzida para mobile
        height: 56px; // Altura fixa para mobile
    }
}
